@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
  overflow-x: hidden;
}
body{
    font-family: 'Poppins', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 80%); }
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(228, 66%, 53%)
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(25, 83%, 53%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.6;
}
.active {
  animation: menuPopup 0.5s ease forwards;
  pointer-events: all;
}
@keyframes menuPopup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
}